.tablinks {
    float: left;
    border: 1px solid #000;
    width: 25%;
    height: 220px;
    margin-top: 32%;
    padding-top: 30px;
    padding-left: 10px;
    margin-left: -25%;
}

.tablinks button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 10px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
}

.tablinks button svg{
    float: right;
    margin-top: 2%;
}

/* .tablinks button:hover {
    background-color: #ddd;
} */

.tablinks button .active {
    background-color: #000;
}

.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}