.product-card {
    max-width: 20rem;
    margin: 0 auto;

    // @include media('>=phone') {
    //     max-width: 15rem;
    // }

    .heart-svg {
        width: 1.2rem;
        margin-top: .2rem;

        &.active {
            @apply fill-red-600 stroke-none;
        }

        @include media('>=phone') {
            width: 1.5rem;
        }

        @include media('<=360px') {
            position: absolute;
            right:0;
            bottom: 1.5rem;

        }
    }

    &__img {
        @apply shadow shadow-gray-300;
        aspect-ratio: 1 / 1.2;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        position: relative;
        padding: 1.5rem 0rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-size: .8rem;
        gap: .5rem 0rem;
        flex-direction: row;

        @include media('>=phone') {
            font-size: 1rem;
        }
        /////////////////////////////////////////
    }

    &__name {
        margin-bottom: .5rem;
        font-weight: 600;
    }

    &__like {}
}