@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header{
    overflow: hidden;
    background-color: #FFF;
    color: white;
    padding: 10px;
}

.header p{
    float: left;
    color: #000;
    text-align: center;
    padding: 14px 1px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Poppins";
    font-weight: "bold";
    padding-left: 40px;
}

.textRight p{
    float: right;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    color: black;
    margin-right: 40px;
}

.card {
    max-width: 300px;
    margin: auto;
}

.container {
    position: relative;
    text-align: center;
    color: #000;
}

.topleft {
    position: absolute;
    top: 8px;
    right: 16px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.shopColumn {
    float: left;
    width: 25%;
    padding: 10px;
}

.productImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 50% 50%;
    padding-bottom: 10px;
}

.banner{
    font-family: 'Poppins';
    text-align: left;
    font-size: 13px;
    color: #AAA;
}

.name{
    font-family: 'Poppins';
    text-align: left;
    font-size: 18px;
    color: #000;
    letter-spacing: 1px;
    font-weight: 300;
}

.price{
    font-family: 'Poppins';
    text-align: left;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 1%;
}

.details{
    font-family: 'Poppins';
    text-align: left;
    margin-top: 1%;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    .header{
        overflow: hidden;
        margin-top: 2%;
    }

    .header p{
        float: left;
        color: white;
        text-align: left;
        padding: 1px 20px;
        text-decoration: none;
        font-size: 17px;
        line-height: 40px;
        font-family: "Poppins";
    }

    .textRight{
        float: right;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 0px 0px;
        margin-right: 5%;
        margin-top: -10%;
        line-height: 0px;
        margin-bottom: 5%;
        
        
    }

    .textRight p{
        background-color: white;
        color:black;
    }

    .card {
        max-width: 300px;
        margin: auto;
    }

    .container {
        position: relative;
        text-align: center;
        color: #000;
    }

    .topleft {
        position: absolute;
        top: 8px;
        right: 16px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .shopColumn {
        float: left;
        width: 50%;
        padding: 20px;
    }

    .productImage{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 50% 50%;
        padding-bottom: 10px;
    }

    .banner{
        font-family: 'Poppins';
        text-align: left;
        font-size: 11px;
        color: #AAA;
    }

    .name{
        font-family: 'Poppins';
        text-align: left;
        font-size: 13px;
        color: #000;
        letter-spacing: 1px;
        font-weight: 300;
    }

    .price{
        font-family: 'Poppins';
        text-align: left;
        font-size: 12px;
        letter-spacing: 1px;
        margin-top: 1%;
    }

    .details{
        font-family: 'Poppins';
        text-align: left;
        margin-top: 1%;
        font-size: 16px;
    }
}