@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header{
    color: #000;
    text-align: center;
    font-family: 'Poppins';
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5%;
}

.sponsoredHeader{
    font-size: 30px;
  font-weight: 500;
  margin-bottom: 2%;
  letter-spacing: 1px;
  text-align: center;
  text-transform:capitalize;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.imageCol {
    float: left;
    width: 33.3333%;
    padding: 30px;
}

.card{
    margin: auto;
}

.name{
    font-family: 'Poppins';
    text-align: left;
    font-size: 20px;
    color: #000;
    letter-spacing: 1px;
    font-weight: 500;
    margin-top: 3%;
}

.details{
    font-family: 'Poppins';
    text-align: left;
    margin-top: 1%;
    font-size: 16px;
}

.productImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 50%;
    padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .header{
        color: #000;
        text-align: center;
        font-family: 'Poppins';
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 5%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .imageCol {
        float: left;
        width: 50%;
        padding: 20px;
    }

    .card{
        margin: auto;
    }

    .name{
        font-family: 'Poppins';
        text-align: left;
        font-size: 16px;
        color: #000;
        letter-spacing: 1px;
        font-weight: 500;
        margin-top: 3%;
    }

    .details{
        font-family: 'Poppins';
        text-align: left;
        margin-top: 1%;
        font-size: 12px;
        width: 180px;
    }

    .productImage{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 50% 50%;
        padding-bottom: 10px;
    }
}