@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.headContainer { 
    margin-top: 20%;
    height: 600px;
    position: relative;
}

.headingText {
    margin: 0;
    position: absolute;

}

.welcomeColumn {
    float: left;
    width: 50%;
    padding:40px;
    
}

.cover{
    background-color: #FAF9F6;
}

.welcomeHeader{
    color: #000;
    font-family: "Poppins";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    width: 100px;
    text-align: left;
}

.welcomeText{
    color: #000;
    margin-top: 5%;
  
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    font-family: 'Poppins';
    text-align: left;
}

.headImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    max-width: 70%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.signUpBrandCont{
    margin: 0;
    position: absolute;

    text-align: center;
}

.brandButton{
    border-radius: 0;
    border: 1px solid #000;
    background: beige;
    color: black;
    text-align: center;
    font-family: "Poppins";
    font-size: 15px;
    font-style: normal;
 
    line-height: normal;
    padding: 15px 30px;
}

@media screen and (max-width: 600px) {
    .cover{
        padding:10px;
        background-image: url("/img/headersweat.jpg");
        background-size:cover;
        opacity: 0.9;
    }

    .headContainer { 
        margin-top: 20%;
        height: 300px;
        padding: 20px;
        position: relative;
    }

    .headingText {
        margin: 0;
        position: absolute;
       
      
    
    }

    .welcomeColumn {
        float: left;
        width: 100%;
        padding: 0px;
    }

    .welcomeHeader{
        display: none;
    }

    .welcomeText{
        color: black;
       width: 100%;
        font-family: "Poppins";
        font-size: 14px;
        
        font-weight: 400;
        line-height:22px;
        text-align: left;
    }

    .headImage{
        display: none;

    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .content {
        max-width: 10%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .signUpBrandCont{
        margin: 0;
        position: absolute;
        margin-top: 5%;
 
        text-align:center;
    }

    .brandButton{
        border-radius: 0;
        border: 1px solid #000;
        background: beige;
        color: black;
        text-align: center;
        font-family: "Poppins";
        font-size: 13px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        padding: 20px;
    }
}