@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.contactSection{
    max-width: 65%;
    height: 1050px;
    margin: auto;
    margin-top: 3%;
    font-family: 'Poppins', sans-serif;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.form{
    height: 600px;
    margin-bottom: 5%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 25px;
    resize: vertical;
}

.select{
    width: 100%;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 25px;
    resize: vertical;
    background-color: #fff;
}

.textarea{
    width: 100%;
    padding: 10px 10px 150px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 25px;
    resize: vertical;
}

.submit{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
    font-size: 13px;
    margin-left: 10%;
    margin-right: 10%;
}

.list{
    padding: 10px;
    text-align: left;
    font-size: 20px;
}

.head{
    font-size: 30px;
    padding-top: 10%;
    padding-bottom: 20px;
    text-align: left;
    font-weight: bold;
}

.mainhead{
    font-size: 40px;
    padding-bottom: 20px;
    text-align: left;
    font-weight: bold;
}

.text{
    font-size: 20px;
    line-height: 33px;
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 5%;
}

.center{
    display: block;
    margin-left: 40%;
    margin-right: auto;
    width: 50%;
}

.column{
    width: 50%;
    float: left;
    margin-bottom: 0%;
}
@media screen and (max-width: 600px) {
    .center{
        display: none;
        margin-left: 40%;
        margin-right: auto;
        width: 50%;
    }

    .column{
        width: 100%;
        float: left;
        margin-bottom: 0%;
    }

    .contactSection{
        max-width: 90%;
        height: 1500px;
        margin: auto;
        margin-top: 3%;
        font-family: 'Poppins', sans-serif;
    }
    
    .form{
        height: 600px;
        margin-bottom: 5%;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 30px;
        margin-top: 5%;
    }

    .submit{
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 90%;
        font-size: 15px;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .list{
        padding: 10px;
        text-align: left;
        font-size: 20px;
    }
    
    .head{
        font-size: 25px;
        padding-top: 3%;
        padding-bottom: 20px;
        text-align: left;
        font-weight: bold;
    }
    
    .mainhead{
        font-size: 30px;
        padding-bottom: 20px;
        text-align: left;
        font-weight: bold;
    }
    
    .text{
        font-size: 18px;
        line-height: 33px;
        font-weight: 200;
        letter-spacing: 1px;
        margin-bottom: 5%;
    }
    
}

@media screen and (width: 800px) {
    .center{
        display: none;
        margin-left: 40%;
        margin-right: auto;
        width: 50%;
    }

    .column{
        width: 100%;
        float: left;
        margin-bottom: 0%;
    }

    .contactSection{
        max-width: 90%;
        height: 1500px;
        margin: auto;
        margin-top: 3%;
        font-family: 'Poppins', sans-serif;
    }
    
    .form{
        height: 620px;
        margin-bottom: 5%;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 30px;
        margin-top: 5%;
    }

    .submit{
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 90%;
        font-size: 15px;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .list{
        padding: 10px;
        text-align: left;
        font-size: 20px;
    }
    
    .head{
        font-size: 25px;
        padding-top: 3%;
        padding-bottom: 20px;
        text-align: left;
        font-weight: bold;
    }
    
    .mainhead{
        font-size: 30px;
        padding-bottom: 20px;
        text-align: left;
        font-weight: bold;
    }
    
    .text{
        font-size: 18px;
        line-height: 33px;
        font-weight: 200;
        letter-spacing: 1px;
        margin-bottom: 5%;
    }
    
}

@media screen and (width: 1024px){
    .center{
        display: none;
        margin-left: 40%;
        margin-right: auto;
        width: 50%;
    }

    .column{
        width: 100%;
        float: left;
        margin-bottom: 0%;
    }

    .contactSection{
        max-width: 90%;
        height: 1500px;
        margin: auto;
        margin-top: 3%;
        font-family: 'Poppins', sans-serif;
    }
    
    .form{
        height: 620px;
        margin-bottom: 5%;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 30px;
        margin-top: 5%;
    }

    .submit{
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 90%;
        font-size: 15px;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .list{
        padding: 10px;
        text-align: left;
        font-size: 20px;
    }
    
    .head{
        font-size: 25px;
        padding-top: 3%;
        padding-bottom: 20px;
        text-align: left;
        font-weight: bold;
    }
    
    .mainhead{
        font-size: 30px;
        padding-bottom: 20px;
        text-align: left;
        font-weight: bold;
    }
    
    .text{
        font-size: 18px;
        line-height: 33px;
        font-weight: 200;
        letter-spacing: 1px;
        margin-bottom: 5%;
    }
    
}

@media screen and (width: 1112px){
    .center{
        display: none;
        margin-left: 40%;
        margin-right: auto;
        width: 50%;
    }

    .column{
        width: 100%;
        float: left;
        margin-bottom: 0%;
    }

    .contactSection{
        max-width: 90%;
        height: 1500px;
        margin: auto;
        margin-top: 3%;
        font-family: 'Poppins', sans-serif;
    }
    
    .form{
        height: 620px;
        margin-bottom: 5%;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 30px;
        margin-top: 5%;
    }

    .submit{
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 90%;
        font-size: 15px;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .list{
        padding: 10px;
        text-align: left;
        font-size: 20px;
    }
    
    .head{
        font-size: 25px;
        padding-top: 3%;
        padding-bottom: 20px;
        text-align: left;
        font-weight: bold;
    }
    
    .mainhead{
        font-size: 30px;
        padding-bottom: 20px;
        text-align: left;
        font-weight: bold;
    }
    
    .text{
        font-size: 18px;
        line-height: 33px;
        font-weight: 200;
        letter-spacing: 1px;
        margin-bottom: 5%;
    }
    
}

@media screen and (max-width: 400px) {
    .center{
        display: none;
        margin-left: 40%;
        margin-right: auto;
        width: 50%;
    }

    .column{
        width: 100%;
        float: left;
        margin-bottom: 0%;
    }

    .contactSection{
        max-width: 90%;
        height: 1500px;
        margin: auto;
        margin-top: 3%;
        font-family: 'Poppins', sans-serif;
    }
    
    .form{
        height: 620px;
        margin-bottom: 5%;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 30px;
        margin-top: 5%;
    }

    .submit{
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 90%;
        font-size: 15px;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .list{
        padding: 10px;
        text-align: left;
        font-size: 15px;
    }
    
    .head{
        font-size: 20px;
        padding-top: 3%;
        padding-bottom: 20px;
        text-align: left;
        font-weight: bold;
    }
    
    .mainhead{
        font-size: 25px;
        padding-bottom: 20px;
        text-align: left;
        font-weight: bold;
    }
    
    .text{
        font-size: 15px;
        line-height: 33px;
        font-weight: 200;
        letter-spacing: 1px;
        margin-bottom: 5%;
    }
    
}