.imagesSection{
    max-width: 85%;
    height: 700px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
  }
  
.imagesSection .p{
    float: left;
    padding: 10px;
    border-radius: 10px;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
  
.imagesSection button{
    float: right;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.0em;
    margin-right: 2%;
}

.imagesSectionColumn{
    float: left;
    width: 25%;
    padding: 0px;
    margin-top: 5%;
}
  
.imagesContent{
    height: 100%;
}

.col33{
    width: 25%;
    float: left;
}